.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  border-bottom: 1px solid #e8e8e8;
  margin: 20px auto;
  padding-bottom: 15px;
}

.logoDiv {
  display: flex;
  font-size: 1rem;
}

.img {
  margin: 0 2rem 0 2rem;
  width: 80px;
  height: 80px;
}

.title {
  font-size: 2.5rem;
}

.link {
  margin: 0 1rem 0 1rem;
}

.profile {
  border-left: 2px solid #a7a7a7;
  padding-left: 15px;
}
